/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.10.2018, 13:57:22
    Author     : dima
*/

body {
    background-color: lightcyan;
}

.headdiv {
    background-color: white;
    display: inline-block;
    width:100%;
    padding: 0px;  
    margin-top: 0px;
    margin-left: 0px;
}

.topPoint {
    display: inline-block;
    width:15%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.topPoint a {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 10px;  
    background-color: lightgray;
    width:100%;
}



.dropdown {
    display: none;
    position: absolute;
}

.dropdown a {
    display: block;
}

.topPoint a:hover {
    background-color:  darkgray;
    box-shadow: 10px 10px 5px grey;
}

.topPoint:hover .dropdown {
    display: block;
}

.selectClass {
    background-color:  white;
    border-radius: 5px;
    width:100%;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 45px;
    margin-right: 5px;
}

.infoClass {
    border-style: solid;
    width:50%;
    float:right;
}