/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.10.2018, 13:57:22
    Author     : dima
*/

body {
    background-color: lightcyan;
}

.easyBox {
	position: relative;
	border: 1px solid red;
	backgroundColor: green;
	cursor: pointer;
	display: block;
	width: 100%;
}

.radioDiv {
	padding-top: 5px; 
	padding-bottom: 5px;
}

.radioX {
	display: inline-block;
	text-align: right;
}