<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/head.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body ng-app="ping" ng-controller="myCtrl">
		<div class="easyBox" mycolor="colorValue">
			<p>Show me</p>
		</div>
		<div>
			<form class='formX'>
				Pick a color:
				<div class="radioDiv">
					<input class='radioX' type="radio" ng-model="colorValue" value="green">Green
				</div>	
				<div class="radioDiv">
					<input class='radioX' type="radio" ng-model="colorValue" value="red">Red
				</div>
				<div class="radioDiv">
					<input class='radioX' type="radio" ng-model="colorValue" value="blue">Blue
				</div>	
				<div class="radioDiv">
					<input class='radioX' type="radio" ng-model="colorValue" value="grey">Grey
				</div>	
			</form>			
		</div>
		<div class="easyBox" mytimer period="1000" collist="colorSet">
			<p>Show me dura</p>
		</div>		
    </body>
	
</html>
